.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin: 20px;
    font-size: 30px;
    text-align: center;
  }
  .grid-img {
      max-width: 90%;
  }
  .Home{
    background-color: rgba(245, 166, 35, 1);
  }
  .grid-item h3 {
    color:black;
    font-size: 3rem;
  }
  .grid-item p {
    color:black;
  }