@font-face {
    font-family: Cinzel;
    src: url(./static/fonts/Cinzel-VariableFont_wght.ttf);
}

header {
    min-height: 15rem;
    background-color: #1e2021;
}

.banner {
    display: inline-flex;
}

.banner-img {
    max-height: 12rem;
}

.banner-text {
    margin-top: 3rem;
    font-size: 5rem;
    font-weight: 500;
    color:tomato;
    font-family: Cinzel , serif;
    margin-left: 2rem;
}

.navbar-list {
    display: inline-flex;
}

.navbar-list li {
    margin-top: 0px;
    padding: 2px;
}

.MuiButtonBase-root {
    background-color: rgba(0, 0, 0, 0.54) !important;
}

@media only screen and (max-width: 800px) {
    .banner-text {
        margin-top: 3rem;
        font-size: 4.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .banner-text {
        margin-top: 3rem;
        font-size: 3.8rem;
    }
    .banner-img {
        max-height: 8rem;
    }
}