header{
    height: 15rem;
    background-color: #1e2021;
}
.banner-img{
    max-height: 12rem;
}
.navbar-list {
    display: inline-flex;
}
.navbar-list li {
    margin-top: 0px;
    padding: 2px;
}
.MuiButtonBase-root {
    background-color: rgba(0, 0, 0, 0.54) !important;
}